<!DOCTYPE html>
<html lang="pt-br">

<head>
	{%- include head.html -%}
</head>

<body>
	<main class="container">
		<section class="about">
			<img src="{{ "/assets/portfolio.png" | relative_url }}" alt="{{ site.plainwhite.name }}">
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}" target="_blank">
					<li><i class="fab fa-github"></i></li>
				</a>
			</ul>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
</body>

</html>